name: CICD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  on_build_actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: |
          cd $GITHUB_WORKSPACE
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Update Environment Variable
        run: |
          echo "PYTHONPATH=/home/runner/work/hypedsearch/hypedsearch/src" >> $GITHUB_ENV
      - name: Run Unit Tests
        run: |
          python -m unittest test_unit_hypedsearch
        working-directory: test
      - name: Run Smoke Test
        run: |
          python -m unittest test_smoke_hypedsearch
        working-directory: test        
