name: CICD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  on_build_actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          cd $GITHUB_WORKSPACE
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          echo "PYTHONPATH=home/runner/work/hypedsearch/src" >> $GITHUB_ENV
      - name: Run Tests
        run: |
          python -m unittest test_hypedsearch
        working-directory: src
